{% extends 'base.html' %}
{% block title %}
    Профайл пользователя {{ author.get_full_name }}
{% endblock %}
{% block content %}
{% csrf_token %}
    <main>
      <div class="container py-5">        
        <h1>Все посты пользователя {{ author.get_full_name }} </h1>
        <h3>Всего постов: {{ author.posts.count }} </h3> 
        <a href="{% url 'posts:profile' author.get_username %}">Все посты пользователя</a>
        <br>
        <br>   
        <article>
          <p>
          {% for post in page_obj %}
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
            <br>
            {{ post.text }}
              {% if post.group %}
              <br>   
              <a href="{% url 'posts:group_list' post.group.slug %}">Все записи группы "{{ post.group.title }}"</a>
              {% endif %}
              <br>
            <a href="{% url 'posts:post_detail' post.id %}">Подробная информация о сообщении</a>
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        {% include 'includes/paginator.html' %}
      </div>
    </main>
{% endblock %}